/*
Kod skriven av John Emericks
Linnéuniversitet, HT 2020
*/

/*--------------------
Struktur:
1 | Basinställningar
2 | Header
3 | Footer
4 | Index
5 | Main
6 | Fråga 2
--------------------*/

/*----- 1 | Basinställningar -----*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',
        sans-serif;
}

body {
    background-color: aliceblue;
}

a:hover {
    color: yellow;
}

/*----- 2 | Header -----*/
.navigation {
    background-color: black;
    height: 70px;
    padding-top: 2em;

}

.navigation a {
    text-decoration-line: none;
}

.navigation ul li {
    display: inline;
    margin-left: 3em;
    font-size: 16pt;
    color: white;
}

.navigation ul li:hover {

    color: yellow;
}

/*----- 3 | Footer -----*/
#footer {
    bottom: 0;
    background-color: black;
    height: 80px;
    width: 100%;
    text-align: right;
    margin-top: 2em;
    position: fixed;
}

#footer p {
    color: white;
    padding: 2em 2em 0;
}

/*----- 4 | Index -----*/
.header h1 {
    position: absolute;
    margin-top: -14em;
    margin-left: 0em;
    background: rgb(255, 255, 255, 0.7);
    padding: 1em;
}

.hero {
    width: 100%;
    padding: 0;
}

/*----- 5 | Main -----*/
.questions {
    padding: 2em 2em 0em 2em;
    margin-bottom: 8em;
}

.questions h2 {
    margin-bottom: 1em;
}

.answer {
    max-width: 800px;
    text-align: justify;
}

/*----- 6 | Fråga 2 -----*/

.list,
.list2 {
    margin-left: 2em;
}